{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col">
            <form id="history_form" action="/history" method="post">
                <select name="history_location" id="history_location" class="form-control btn btn-secondary dropdown-toggle"
                    id="exampleFormControlSelect1">
                    <option disabled {% if not Neighborhood %} selected {% endif %}>Neighborhood</option>
                    {% for neighborhood in history_plots %}
                    <option {% if Neighborhood == neighborhood %} selected {% endif %}>{{ neighborhood }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="col-md-auto">
            {% if current_plot != None %}
            <img src="data:image/png;base64,{{ current_plot }}" alt="current plot">
            {% elif history_plots %}
            <img id="cheez" src="https://memegen.link/_aWNhbmhhcwlfL2Nob29zZV9hX25laWdoYm9yaG9vZCEJ.jpg" alt="choose data">    
            {% else %}
            <img src="https://memegen.link/_bm9pZGVhCV8vY2hvb3NlX3NvbWVfbmVpZ2hib3Job29kcyEJ.jpg" alt="input data">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}